.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.conectadoImage {
  width: 100%;
  max-width: 1000px; /* Ajusta según lo que necesites */
  height: auto;
}
